*{
  box-sizing: border-box;
}

body, html, section, main, div, aside, p {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: #EAEAEA;
  font-family: 'Roboto', sans-serif;
}

.main-header {
  background-color: #2C2E38;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
}

.heading-container {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px
}

h1 {
  color:#FBFBF2;
  font-size: 72px;
  margin: 0;
}

.snowflake-svg {
  height: 55px;
  padding-left: 5px;
}

.snowflake-svg {
  -webkit-transition: all 0.20s ease;
  -moz-transition: all 0.20s ease;
  -o-transition: all 0.20s ease;
  -ms-transition: all 0.20s ease;
  transition: all 0.20s ease;
}

.snowflake-svg:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav-container {
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;

}

nav {
  width:100%;
  padding-top: 45px;
}

.link {
  color:#CCDBDC;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding:15px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: #008BA5;
}

.icon {
  width:25px;
  padding-right: 5px;
}

.dropdown-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 15px
}

.dropdown .drop-button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #008BA5;
  background-color: inherit;
}

.drop-button {
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #008BA5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.shares {
  font-size: 24px;
  margin: 30px 0 0 30px;
}

.card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card {
  background-color: #FBFBF2;
  border: solid 1px;
  margin: 15px;
  height:500px;
  width:300px;
  box-shadow: 0px 10px 10px #888888;
}

.ghost-card {
  margin: 15px;
  height:500px;
  width:300px;
}

.profile-pic {
  height:200px;
  width: 300px;
  display:flex;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

.overlay {
  background-color:rgba(0,0,0,.6);
  color:white;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  width:100%;
  height:100%;
  transition:all .2s ease-in;
}

.profile-pic:hover .overlay {
  opacity:0;
}

.arrow-icon {
  position:absolute;
  left: 15px;
  top: 10px;
  width:50px;
}

.arrow-icon {
  -webkit-transition: all 0.10s ease;
  -moz-transition: all 0.10s ease;
  -o-transition: all 0.10s ease;
  -ms-transition: all 0.10s ease;
  transition: all 0.10s ease;
}

.arrow-icon:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.views {
  position: absolute;
  right:15px;
  top:12px;
  color:#008BA5;
  text-transform: uppercase;
  margin:0;
}

.view-count {
  position: absolute;
  right:15px;
  top:25px;
  color:#008BA5;
  font-size: 36px;
  margin:0;
}

.link-text {
  padding-top: 5px;
}

.ejack-pic {
  background-image: url('snowbook assets/eric-jackson.jpeg');

}

.teter-pic {
  background-image: url('snowbook assets/hannah-teter.jpeg');
}

.jones-pic {
  background-image: url('snowbook assets/jeremy-jones.jpg');
}

.jjackson-pic {
  background-image: url('snowbook assets/john-jackson.jpg');
}

.vito-pic {
  background-image: url('snowbook assets/Louie-Vito.jpg');
}

.landvick-pic {
  background-image: url('snowbook assets/mark-landvick.jpeg');
}

.horigmo-pic {
  background-image: url('snowbook assets/torstien-horigmo.jpeg');
}

.rice-pic {
  background-image: url('snowbook assets/travis rice.jpg');
}

.link-container {
  background-color: #EAEAEA;
  height:50px;
  width:240px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  padding-left: 20px;
}

.link-text {
  padding: 5px:
}

h2, .date, .http-container, .lower-text, .attachment-counter{
  padding-left: 30px;
}

.date {
  color:#A2AAAB;
  font-size: 12px;
  margin: 0px;
}

.playlist-div {
  height:100px;
  width:300px;
  padding-top:20px
}

.lower-text {
  text-transform: uppercase;
  font-size: 12px;
}

.playlist-name {
  margin-top: 0;
}

.attachments-div {
  height:100px;
  width:300px;
}

.attachment-counter {
  color:#008BA5;
  font-size: 36px;
  margin-top: 0;
  margin-bottom:0;
  padding-bottom: 25px;
}

h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  .snowflake-svg {
    height: 45px;
  }

  nav {
    padding-top: 40px;
  }

  .link {
    padding: 5px;
    font-size: 16px
  }

  .icon {
    width: 20px;
    }
}

@media screen and (max-width: 750px) {

  .main-header {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
  }

  .heading-container {
    height: 100px;
    width: 100%;
    padding: 25px 0;
    justify-content: center;
  }

  .nav-container {
    height: 50px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  nav {
    padding: 0;
  }

  .dropdown-container {
    height: 50px;
    padding: 0;
    justify-content: center;
    }
  }

  @media screen and (max-width: 385px) {
    .heading-container {
      padding: 30px 0;
    }

    h1 {
      font-size: 48px;
    }

    .link {
      font-size: 14px;
    }
  }
